<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/Style/ArticleListStyle-1487314414000-352573.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.like.naver.com/css/reaction/desktop/likeit.css?1484801594000" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/like/likeit_cafe_main-1479704413000-2069.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/ip_layer_2-1459945953000-2882.css" type="text/css">

<div id="content-area" >
    <div id="main-area" class="fl">
        <div id="sub-tit">
            <h3 class="sub-tit-color only-tit" ng-bind="boardName"></h3>
        </div>
        <div class="sub-tit-bottom"></div>
        <div class="h-20"></div>

        <div class="list-style">
            <div class="fr m-tcol-c">
                <div class="sub3">
                    <a href="/ArticleList.nhn?search.clubid=10000001&search.menuid=&search.boardtype=B" class="filter-50 m-tcol-c"><img src="http://cafeimgs.naver.net/cafe4/ico-list-blog.gif" width="15" height="15" alt="블로그형">블로그형</a>
                    <a href="/ArticleList.nhn?search.clubid=10000001&search.menuid=&search.boardtype=W" class="filter-50 m-tcol-c"><img src="http://cafeimgs.naver.net/cafe4/ico-list-webzine.gif" width="15" height="15" alt="웹진형">웹진형</a>
                    <a href="/ArticleList.nhn?search.clubid=10000001&search.menuid=&search.boardtype=M" class="filter-50 m-tcol-c"><img src="http://cafeimgs.naver.net/cafe4/ico-list-movie.gif" width="15" height="15" alt="동영상형">동영상형</a>
                    <a href="/ArticleList.nhn?search.clubid=10000001&search.menuid=&search.boardtype=I" class="filter-50 m-tcol-c"><img src="http://cafeimgs.naver.net/cafe4/ico-list-album.gif" width="15" height="15" alt="앨범형">앨범형</a>
                    <a href="/ArticleList.nhn?search.clubid=10000001&search.menuid=&search.boardtype=L" class="m-tcol-c"><img src="http://cafeimgs.naver.net/cafe4/ico-list-board.gif" width="15" height="15" alt="게시판형">게시판형</a>
                </div>
                <span class="fl mt filter-30 m-tcol-c">|</span>
                <span class="sub4 m-tcol-c">
	                <input type="checkbox" id="notice_hidden" ><label for="notice_hidden">공지 숨기기</label>
		        </span>
                <span class="fl mt filter-30 m-tcol-c">|</span>
                <div class="sub2">
                    <a href="#" onclick="showLayer(this, 'listSizeLayer');return false;" class="m-tcol-c sublink"><span>15</span>개씩 보기</a>
                </div>
            </div>
        </div>
        <div class="article-board zindex6 m-tcol-c" id="upperArticleList">
            <table cellspacing="0" cellpadding="0" border="0" class="board-box">
                <col width="28">
                <col width="70"><col width="*"><col width="122"><col width="70"><col width="42">
                <col width="49">
                <tr><td colspan="7" class="board-line"  style="height:3px !important; "></td></tr>
                <tr align="center" class="bg-color">
                    <td class="p11"></td>
                    <td class="p11"></td>
                    <td class="p11">제목</td>
                    <td class="p11">작성자<span style="padding:0 52px 0 0;"></span></td>
                    <td class="p11">작성일</td>
                    <td class="p11">조회</td>
                    <td class="p11">좋아요</td>
                </tr>
                <tr><td colspan="7" class="board-line"></td></tr>
            </table>
            <div id="headListLayer" class="ly_sbjt" style="top:23px;left:12px">
                <ul>
                    <li><a href="/ArticleList.nhn?search.clubid=10000001&search.menuid=&search.boardtype=L&userDisplay=15"><span>전체보기</span></a></li>
                </ul>
            </div>
        </div>
        <div class="article-board m-tcol-c">
            <table cellspacing="0" cellpadding="0" border="0" class="board-box" style="table-layout:fixed;border-collapse:collapse;" >
                <col width="28">
                <col width="70">
                <col width="*">
                <col width="122">
                <col width="70">
                <col width="42">
                <col width="49">
                <tr align="center" ng-repeat="article in articles" style="border-bottom:1pt solid #e5e5e5;">
                    <td align="left"><input type="checkbox" name="article_chk" id="article_chk0" value="9"></td>
                    <td><span class="m-tcol-c list-count">{{ article.id }}</span></td>
                    <td align="left" class="board-list">
                      <span class="aaa">
                          <a href="/ArticleRead.nhn?clubid=10000001&amp;page=1&amp;boardtype=L&articleid=9&referrerAllArticles=true" class="m-tcol-c">{{ article.title }}</a>
                      </span>
                    </td>
                    <td align="left">
                        <div class="pers_nick_area"><table cellspacing="0"><caption><span class="blind">퍼스나콘/아이디 영역</span></caption><tr><td class="pc"><a href="http://item.naver.com/personacon/PersonaconShop.jsp?Redirect=PersonaconSub.jsp?type=itemdetail%26itemseq=1433716" target="itemshop"><img src="http://itemimgs.naver.net/personacon/16/37/s_1433716.gif" width="13" height="13" alt="" class="p-border"></a></td><td class="p-nick"><a href="#" class="m-tcol-c" onclick="ui(event, 'kielhong',3,'키엘','10000001','ma', 'true', 'false', 'cafeno1', 'true', '3'); return false;"><span class="wordbreak" id="article_kielhong_0">키엘</span></a></td></tr></table></div><script type="text/javascript">wordBreak($("article_kielhong_0"));</script>
                    </td>
                    <td class="view-count m-tcol-c">{{ article.createDateTime | date:'yyyy.MM.dd.' }}</td>
                    <td class="view-count m-tcol-c _rosReadcount">0</td>
                    <td class="view-count m-tcol-c">
                        <div class="u_likeit_list_module _reactionModule" data-sid="CAFE" data-cid="10000001_cafeno1_9" data-did="CAFE" data-catgid="10000001">
                            <span class="u_likeit_list_btn _button" data-type="like"><em class="u_cnt _count">0</em></span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="list-btn">
            <div class="fl">
                <input type="checkbox" name="selectAll" id="selectAll" onclick="selectAll();" class="input"> <label for="selectAll" class="m-tcol-c">전체선택</label>
            </div>
            <div class="fr">
                <div class="btn _rosRestrict" id="a_remove" onclick="checkLogin(2);" ><span></span><p><a href="#" class="m-tcol-c">삭제</a></p></div>
            </div>
        </div>

        <table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td class="board-line" style="height:3px !important; "></td></tr></table>

        <div class="prev-next">
            <table summary="페이지 네비게이션" class="Nnavi" align="center">
                <tr>
                    <td class="on"><a href="/ArticleList.nhn?search.clubid=10000001&search.boardtype=L&search.questionTab=A&search.totalCount=4&search.page=1" class="m-tcol-p">1</a></td>
                </tr>
            </table>
        </div>
        <div class="list-search mt50">
            <form name="frmSearch" action="" onsubmit="return false;">
                <select name="searchdate" id="searchdate" class="m-tcol-c" onchange="$('query').focus();" style="display:none;">
                    <option value="all" selected>전체기간</option>
                    <option value="1d" >1일</option>
                    <option value="1w" >1주</option>
                    <option value="1m" >1개월</option>
                    <option value="6m" >6개월</option>
                    <option value="1y" >1년</option>
                    <option value="2016-11-262017-02-26" >#period</option>
                </select>
                <select id="searchBy" name="searchBy" class="m-tcol-c" onchange="$('query').focus();" style="width:110px;display:none;">
                    <option value="0" >제목+내용</option>
                    <option value="1" >제목만</option>
                    <option value="3" >글작성자</option>
                    <option value="4" >댓글내용</option>
                    <option value="5" >댓글작성자</option>
                </select>
                <input type="text" id="query" name="query" style="ime-mode:active" value="" onkeydown="if (event.keyCode == 13) {nhn.search.goSearch(event);}" class="m-tcol-c border-sub text">
                <a href="#" onclick="nhn.search.goSearch(event);return false;"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="42" height="21" alt="검색" class="btn-search-green"></a>
            </form>
            <ul id="oLayer"></ul>
        </div>

        <div style="height: 170px;">&nbsp;</div>
    </div>
</div>