<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/mycafe-common-1487314414000-57562.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/mycafe-layout-1485413655000-59862.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/comment-1463630909000-16252.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/mycafe-main-1486728022000-202870.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/message_box-1459945953000-2175.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/search/sa-1485413655000-3280.css" type="text/css"/>
<link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/ip_layer_2-1459945953000-2882.css" type="text/css">

<div id="content-area">
    <div id="main-area" class="fl">
        <div id="sub-tit">
            <h3 class="sub-tit-color">카페 태그</h3>
            <p class="m-tcol-c">우리 카페의 태그를 한눈에 볼 수 있습니다</p>
        </div>
        <div class="sub-tit-bottom"></div>
        <div class="h-35"></div>
        <div class="etc-list-line border-sub">
            <table cellspacing="0" cellpadding="0" border="0" align="right" class="tag-list-tit">
                <tr valign="top">
                    <td><span class="ico-bl ico m-tcol-c">▼</span><a href="#tags" class='m-tcol-c b'>최근순</a></td>
                    <td width="20" align="center" class="m-tcol-c filter-30">|</td>
                    <td><span class="ico-bl ico m-tcol-c">▼</span><a href="#tags" class='m-tcol-c filter-70'>인기순</a></td>
                    <td width="20" align="center" class="m-tcol-c filter-30">| </td>
                    <td><span class="ico-bl ico m-tcol-c">▼</span><a href="#tags" class="m-tcol-c filter-70">가나다순</a></td>
                </tr>
            </table>
        </div>
        <table width="773" cellspacing="0" cellpadding="0" border="0" style="margin-top:10px;">
            <tr><td class="tag-bg-t"></td></tr>
            <tr>
                <td class="tag-bg-m">
                    <div id="tag" style="text-align:justify;table-layout:fixed; word-break:break-all;margin:10px 15px 10px 15px;">
                        <div ng-repeat="tag in tags" style="float:left">
                            <a href='#tags/{{ tag.name }}' id="tag4" ng-bind="tag.name"></a><span id="tagspace" ng-show="!$last">|</span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td class="tag-bg-b"></td></tr>
        </table>
        <!-- prev_next -->
        <div class="prev-next">
            <table class="Nnavi" align="center">
                <caption><span class="blind">페이지 네비게이션</span></caption>
                <tbody>
                <tr>
                    <td class="on"><a href="/CafeTagCloudList.nhn?search.clubId=10000001&search.sortType=modifyDate&search.page=1" class="m-tcol-p">1</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- //prev_next -->

        <div class="list-search">
            <span class="b m-tcol-c">태그입력</span>
            <input name="tagName" type="text" class="m-tcol-c border-sub" ng-model="searchTagName">
            <input type="image" src="http://cafeimgs.naver.net/cafe4/btn-go-tag.gif" alt="바로가기" style="width:55px;height:20px !important;border:0 !important;cursor:pointer" ng-click="searchTag()">
        </div>
    </div>
</div>
<!-- //main-area -->

<div style="height: 210px;">&nbsp;</div>
