<!DOCTYPE html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title th:text="${cafe.name + ' : 로컬 카페'}"></title>

    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/mycafe-common-1487314414000-57562.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/mycafe-layout-1485413655000-59862.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/line_sticker-1459945953000-9159.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/comment-1463630909000-16252.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/mycafe-main-1486728022000-202870.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/widget-1459945953000-14603.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/moz_fix-1459945953000-1346.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/map/cafe_map-1459945953000-14564.css" type="text/css"/>
    <link rel="stylesheet" href="http://cafe.naver.com/static/css/main/css/ip_layer_2-1459945953000-2882.css" type="text/css"/>

    <link rel="stylesheet" href="/css/cafe.css" type="text/css"/>
</head>

<body ng-app="cafeApp">

<h1 class="d-none" th:text="${cafe.name}"></h1>
<div id="cafe-body-skin">
    <div id="cafe-body" ng-controller="cafeCtrl">

        <div id="naver-gnb">
            <div id="gnb-menu">
                <p class="naver-h" id="naver-h"><a href="http://www.naver.com">네이버</a><img src="http://cafeimgs.naver.com/cafe4/ico-blank.gif" width="1" height="10" alt="" class="tcol-c"/></p>
                <div class="m-cafe"><a href="/">카페</a><a id="au_go" href="#"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="13" height="13" alt="바로가기" class="btn-cafe down-gnb"/></a><img src="http://cafeimgs.naver.net/cafe4/ico-blank.gif" width="1" height="10" alt="" class="tcol-c"/>
                </div>
                <div class="join-cafe" id="au_join-cafe"><a href="#">가입카페</a><a href="#"><img id="joincafeimg" src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="13" height="13" alt="가입카페" class="btn-join down-gnb"/></a><img src="http://cafeimgs.naver.net/cafe4/ico-blank.gif" width="1" height="10" alt="" class="tcol-c"/></div>
                <div id="gnb">
                    <script type="text/javascript" src="http://static.gn.naver.net/template/gnb_euckr.nhn?1484205677000" charset="euc-kr"></script>
                </div>
            </div>
        </div>
        <div id="front-img">
            <div id="front-cafe"  style="cursor:hand;cursor:pointer;background-image:none;width:956px">
                <a href="#" >
                    <img src="http://cafeimgs.naver.com/img/skin/img_80/skin80_46.gif" th:alt="${cafe.name}"/>
                </a>
            </div>
        </div>
        <div id="special-menu">
            <div class="box-special-menu">
                <ul class="special-menu" id="special-menu-item">
                    <li class="default" id="special-menu-0">
                        <p><a href="#articles" class="off" id="special-menuLink-0">전체글보기</a></p><span> </span>
                    </li>
                    <li class="default" id="special-menu--1">
                        <p><a href="/BestArticleList.nhn?clubid=10000001&amp;period=week&amp;listtype=commentcount" target="cafe_main" onclick="goMenu(-1);" class="off" id="special-menuLink--1">베스트게시글</a></p><span> </span>
                    </li>
                    <li class="default" id="special-menu--2">
                        <p><a href="/ArticleList.nhn?search.clubid=10000001&amp;search.boardtype=I&amp;search.specialmenutype=P" target="cafe_main" onclick="goMenu(-2);" class="off" id="special-menuLink--2">이미지모아보기</a></p><span> </span>
                    </li>
                    <li class="default" id="special-menu--3">
                        <p><a href="/ArticleList.nhn?search.clubid=10000001&amp;search.boardtype=M&amp;search.specialmenutype=M" target="cafe_main" onclick="goMenu(-3);" class="off" id="special-menuLink--3">동영상모아보기</a></p><span> </span>
                    </li>
                    <li class="default" id="special-menu--10">
                        <p><a href="/CafeTagCloudList.nhn?search.clubId=10000001" target="cafe_main" onclick="goMenu(-10);" class="off" id="special-menuLink--10">카페태그보기</a></p>
                    </li>
                </ul>
            </div>
        </div>

        <div id="info-search" >
            <div id="cafe-icoinfo"></div>
            <div id="cafe-search">
                <form name="frmBoardSearch" action="" onsubmit="return false;" autocomplete="off">
                    <input type="text" name="query" style="ime-mode:active" id="topLayerQueryInput" onkeydown="if (event.keyCode == 13) {searchBoard();}"/>
                    <a href="#" onclick="searchBoard();return false;"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="42" height="21" alt="검색" class="btn-search-green"/></a>
                </form>
            </div>

            <form name="pwmForm" method="POST" action="" target="">
                <input type="hidden" name="ugcTypeName" value=""/>
                <input type="hidden" name="prohibitWords" value=""/>
            </form>
        </div>
        <div id="content-area">
            <div id="group-area" class="fl">

                <div class="cafe-info-action" id="cafe-info-action">
                    <!-- 카페정보  -->
                    <div id="cafe-info-data">
                        <ul class="info-action-tab">
                            <li class="tit-info-on">
                                <p class="gm-tcol-t">카페정보</p>
                            </li>
                            <li class="tit-action">
                                <p><a href="#" class="_rosRestrict" onclick="showMyAction();">나의활동</a></p>
                            </li>
                            <li class="tit-bookmark">
                                <a class="_rosRestrict" href="#" title="즐겨찾는 카페 등록" onClick="setupFavoriteCafe(true, true, 10000001);"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="27" height="28" alt="즐겨찾는 카페 등록" class="btn-bookmark-off" id="favoriteCafeInCafeInfo"/></a>
                            </li>
                        </ul>
                        <div class="box-g">
                            <h4 class="d-none">카페정보</h4>
                            <div class="ia-info-data" id="ia-info-data">
                                <ul>
                                    <li class="gm-tcol-c">
                                        <div class="ball"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="27" height="13" class="ico-manager" alt="매니저"/></div>
                                        <a href="/cafeno1/member/kielhong/article" target="_blank" class="id mlink gm-tcol-c">
                                            <div class="ellipsis gm-tcol-c"><div class="ellipsis">키엘</div></div>
                                        </a>
                                    </li>
                                    <li class="gm-tcol-c">
                                        <div class="thm"><a href="/CafeHistoryView.nhn?clubid=10000001" class="gm-tcol-c" target="cafe_main" th:text="'since ' + ${#temporals.format(cafe.createDateTime, 'yyyy.MM.dd.')}"></a></div>
                                        <div class="info-view"><a href="#" onclick="cafeProfile();" class="u gm-tcol-c">카페소개</a></div>
                                    </li>

                                    <li>
                                        <div class="cafe-admin">
                                            <img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="11" height="10" alt="" class="ico-admin"/>
                                            <strong>
                                                <a href="/ManageHome.nhn?clubid=10000001" class="gm-tcol-c">카페관리</a>
                                            </strong>
                                            <span class="gm-tcol-c filter-30 bar">|</span>
                                            <img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="11" height="10" alt="" class="ico-stat"/> <a href="/ManageStatisticsSummary.nhn?clubid=10000001" class="gm-tcol-c">통계</a>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="ia-info-data2">
                                <ul>
                                    <li class="level-info border-sub" th:switch="${cafe.visibility}">
                                        <div th:case="${T(com.widehouse.cafe.domain.cafe.CafeVisibility).PRIVATE}">
                                            <span class="ico_lock"></span><br></br><span class="txt_lock gm-tcol-c"><em>비공개카페</em></span>
                                        </div>
                                        <div th:case="${T(com.widehouse.cafe.domain.cafe.CafeVisibility).PUBLIC}">
                                            <span class="txt_lock gm-tcol-c"><em>공개카페</em></span>
                                        </div>
                                    </li>
                                    <li class="mem-cnt-info"  style="cursor:pointer;">
                                        <strong class="d-none">카페멤버수</strong>
                                        <a href="#" class="gm-tcol-c"><span class="ico"></span><br></br><em th:text="${#numbers.formatInteger(cafe.statistics.cafeMemberCount, 0, 'COMMA')}"></em></a>
                                        <div class="ly_info_dsc" style="font-weight:normal;top:31px;left:5px;display:none;" id="hiddenCafeApplyLayer">
                                            <div class="cont cont_v1" style="width:60px">
                                                <p><a href="/ManageJoinApplication.nhn?search.clubid=10000001" >가입대기 <span>0</span></a></p>
                                                <span class="tail" style="left:31px"></span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="ia-info-btn">
                                <ul class="ia-info-list">
                                    <li>
                                        <a href="#" onclick="inviteMember();" class="gm-tcol-c _rosRestrict">초대</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="chatting();" class="gm-tcol-c _tabletRestrict(채팅)">채팅하기</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box_g_b"></div>
                        <div class="cafe-write-btn">
                            <a href="#articles/post"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="171" height="34" alt="카페 글쓰기" class="btn-write"/></a>
                        </div>
                    </div>
                    <!-- //카페정보 -->
                    <!-- 나의활동 -->
                    <div id="member-action-data" style="display:none">
                        <ul class="info-action-tab">
                            <li class="tit-info">
                                <p><a href="#" onclick="showCafeInfo();">카페정보</a></p>
                            </li>
                            <li class="tit-action-on">
                                <p class="gm-tcol-t">나의활동</p>
                            </li>
                            <li class="tit-bookmark">
                                <a href="#" title="즐겨찾는 카페 등록" onClick="setupFavoriteCafe(true, true, 10000001);"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="27" height="28" alt="즐겨찾는 카페 등록" class="btn-bookmark-off" id="favoriteCafeInMemberInfo"/></a>
                            </li>
                        </ul>
                        <div class="box-g">
                            <h4 class="d-none">나의활동</h4>
                            <div id="ia-action-data"></div>
                            <div class="ia-action-data ia-action-link" id="myActivityLink">
                                <a href="/CafeMemberNetworkView.nhn?m=view&amp;clubid=10000001&amp;memberid=kielhong" class="gm-tcol-c" target="cafe_main">내가 쓴 글</a>
                                <span class="bar gm-tcol-c filter-20">ㅣ</span>
                                <a href="/CafeMemberNetworkView.nhn?m=view&amp;clubid=10000001&amp;memberid=kielhong&amp;networkSearchKey=Comment" class="gm-tcol-c"  target="cafe_main">내가 쓴 댓글</a>
                            </div>
                            <div class="ia-info-btn">
                                <ul class="ia-info-list">
                                    <li>
                                        <a href="#" onclick="inviteMember();" class="gm-tcol-c _rosRestrict">초대</a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="chatting();" class="gm-tcol-c">채팅하기</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="myAppListDIV" class="layer_myjoinapp" style="display: none;"></div>
                        </div>
                        <div class="cafe-write-btn">
                            <a href="#articles/post"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="171" height="34" alt="카페 글쓰기" class="btn-write"/></a>
                        </div>

                    </div>
                    <!-- //나의활동 -->
                </div>

                <div id="cafe-menu">
                    <div class="box-g-t"></div>
                    <div class="box-g-m">
                        <ul class="cafe-menu-list">
                            <li>
                                <img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="10" height="11" class="ico-list" alt=""/>
                                <a href="#articles" class="gm-tcol-c" id="menuLink0">전체글보기</a>
                                <span class="gm-tcol-c p11" style="padding-right:2px;">(<strong th:text="${#numbers.formatInteger(cafe.statistics.cafeArticleCount, 0, 'COMMA')}"></strong>)</span>
                            </li>
                            <li th:each="board : ${specialBoards}">
                                <img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="10" height="11" th:class="'ico-' + ${board.type}" th:alt="${board.type}"/>
                                <a href="#tags" class="gm-tcol-c" id="menuLink-10" th:text="${board.name}"></a>
                            </li>
                        </ul>
                        <div class="cafe-menu-space"></div>
                        <ul class="cafe-menu-list">
                            <li th:each="board : ${boards}">
                                <img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="10" height="11" class="ico-list" alt=""/>
                                <a th:href="'#boards/' + ${board.id}" class="gm-tcol-c " th:text="${board.name}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-g-b"></div>
                </div>

                <ul class="com">
                    <li class="box-w">
                        <div id="recent-reply">
                            <div class="group-tit">
                                <h4 class="tcol-t">최근 댓글ㆍ답글</h4>
                            </div>
                            <ul class="group-list" id="first-reply-page">
                                <li></li>
                                <li style="text-align:center"><span class="tcol-c">최근 댓글ㆍ답글이<br/>없습니다.</span></li>
                                <li></li>
                            </ul>
                        </div>
                    </li>
                    <li class="box-w">
                        <div id="linked-member">
                            <div class="group-tit">
                                <h4 class="tcol-t" id="linked-member-count">접속멤버</h4>
                                <p>
                                    <a href="#" onclick="refreshLinkedMember();return false;"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" width="15" height="16" alt="새로고침" class="member-reload"/></a><a href="#" onclick="toggleLM();return false;"><img src="http://cafeimgs.naver.net/cafe4/hidden.gif" id="lmtoggleimg" width="15" height="16" alt="접속멤버 닫기" class="member-up"/></a>
                                </p>
                            </div>
                            <ul class="group-list" id="lm-list" style="overflow-x:hidden;">
                                <li><span class="tcol-c" id="lmmsg">접속멤버 조회중...</span></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="main-area" class="fr" ng-view=""></div>

        </div>
        <div id="cafe-footer">
            <p class="cafe-name m-tcol-c">마이 카페 <span class="m-tcol-p" th:text="${cafe.name}"></span></p>
        </div>
    </div>

    <a href="#" class="blind" onfocus="var t=document.getElementById('u_skip');t.tabIndex=-1;t.focus();return false" style="visibility:visible">콘텐츠 상단</a>
</div>
<script src="/js/jquery-3.1.1.min.js"></script>
<!-- angularjs -->
<script src="/webjars/angularjs/angular.min.js"></script>
<script src="/webjars/angularjs/angular-route.js"></script>
<script src="/js/ng/cafeController.js"></script>
<!-- // angularjs -->

</body>
</html>