<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>로컬 카페</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="/image/x-icon" href="/img/favicon.ico" />
  <link rel="stylesheet" href="/css/section/layout.css" type="text/css">
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/vue.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
</head>
<body>

<div id="u_skip">
  <a href="#gnbMenu" onclick="var t=document.getElementById('gnbMenu');t.tabIndex=-1;t.focus();return false;" class="skip">메뉴 바로가기</a>
  <a href="#container" onclick="var t=document.getElementById('container');t.tabIndex=-1;t.focus();return false;" class="skip">본문 바로가기</a>
</div>
<div id="wrap">

  <div th:replace="fragments/section_header :: header"></div>

  <div id="container" class="main" role="main">
    <!-- spot -->
    <div class="spot" id="cafestoryArea">
      <h2><img src="https://cafe.pstatic.net/img/section/h_cafestory.gif" width="117" height="24" alt="cafe story"></h2>
      <div class="date_control">
        <span v-for="c in dateClasses" v-bind:class="c + ' _date'">{{c}}</span>
        <button class="btn_prev" v-on:click="moveStoryDate(-1)">이전</button>
        <button class="btn_next_off" disabled="disabled" v-on:click="moveStoryDate(1)">다음</button>
      </div>
      <div class="_CafeStoryContent" id="cafeStory">
        <div style="background: url(https://cafefiles.pstatic.net/MjAxODAzMjNfMjE2/MDAxNTIxNzc3MzQ3NDk2.7K23vUOFgnjJvOgqKMCHz_vUKNWmhvLeGMZdekQ7_WAg.PoWfkC-IV4u9iYZWHXZpeeX61hQ5Adw3BQ2zAVeLJwYg.JPEG.cafesupport/default.jpg) no-repeat scroll 0% 0% transparent;" class="type3">
          <ul>
            <li>
              <a href="http://cafe.naver.com/mossnfern" target="_blank" class="N=a:cvr.cafe,r:1">
                <span class="blind">함평이끼</span>
                <span class="count"><em class="member">회원</em> 148 <em class="writing">게시글</em> 866</span>
              </a>
            </li>
            <li>
              <a href="http://cafe.naver.com/hanganglurefishing" target="_blank" class="N=a:cvr.cafe,r:2">
                <span class="blind">한강루어피싱카페</span>
                <span class="count"><em class="member">회원</em> 5,284 <em class="writing">게시글</em> 45,188 </span>
              </a>
            </li>
            <li>
              <a href="http://cafe.naver.com/anitrue" target="_blank" class="N=a:cvr.cafe,r:3">
                <span class="blind">『애니트루』- Animation In Story -</span>
                <span class="count"><em class="member">회원</em> 7,162 <em class="writing">게시글</em> 30,869</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="cafenew">
        <div class="navi">
          <a href="#" class="n1  N=a:cfn.num,r:1 _mouseover(CafeStory|SelectCafeNew|0) _stopDefault">1</a>
          <a href="#" class="n2 on N=a:cfn.num,r:2 _mouseover(CafeStory|SelectCafeNew|1) _stopDefault">2</a>
        </div>
        <div class="cafenew_cont" id="sectionNews"><a href="http://cafe.naver.com/cafesupport/107252" class="N=a:cfn.list2,r:2"><img src="https://cafefiles.pstatic.net/MjAxNzA4MTZfMjg4/MDAxNTAyODYxNTEwODA3.9drup-TBHqnz-5qgNPdm3O8igwEkOgFda-Toh4OB61Ig.8QEos6mZSYxDFwBo1ypXpyd5BQmtKm6ntU04deb02MQg.PNG.cafesupport/카페-섹션홈-정모장소지원-배너_20170816.png" width="255" height="225" alt="정모장소지원-뉴버전"></a></div>
      </div>
    </div>
    <!-- //spot -->

    <div id="content">
      <span class="blind">본문시작</span>
      <div class="directory_section" style="display:none;z-index:999;">
        <h3><img src="https://cafe.pstatic.net/img/section/h_directory.gif" width="152" height="21" alt="디렉토리 전체보기"></h3>
        <a href="#" class="btn_clse _click(CategoryCafe|HideTotalView) _stopDefault"><span>닫기</span></a>
        <ul class="tab_directory directory1">
          <li class="t1"><a href="#" class="_click(CategoryCafe|ShowTotalView|1) _stopDefault">주제 디렉토리</a></li>
          <li class="t2"><a href="#" class="_click(CategoryCafe|ShowTotalView|2) _stopDefault">지역 디렉토리</a></li>
        </ul>
        <p class="dsc_directory"><img src="https://cafe.pstatic.net/img/section/txt_directory.gif" width="218" height="10" alt="Ctrl+F를 이용하시면 디렉토리를 쉽게 찾을 수 있어요"></p>
        <div class="lst_directory">
          <div class="wrap">  </div>
        </div>
        <div class="btn_area">
          <a href="#" class="_click(CategoryCafe|HideTotalView) _stopDefault"><img src="https://cafe.pstatic.net/img/section/btn_go_main.gif" width="156" height="37" alt="메인으로 돌아가기"></a>
        </div>
      </div>

      <h2 class="blind">주제별 카페</h2>
      <ul class="tab_cafe">
        <li class="t1 on"><a id="focusTop" href="/SectionHome.nhn?t=1" class="N=a:cnt.tab1"><span>주제별 카페</span><em class="blind">선택됨</em><em>7,970,192</em></a></li>
        <li class="t2 "><a href="/AreaCafeHome.nhn?t=2" class="N=a:cnt.tab2"><span>지역별 카페</span><em>2,496,828</em></a></li>
        <li class="t3" role="tab" aria-selected="false"><a href="#" class="_click(CategoryCafe|ShowLogInLayer) _stopDefault N=a:cnt.tab3,t:1"><span>가입카페 소식</span></a></li>
      </ul>
      <div class="layer_type news_login" style="display:none;" id="LoginLayer">
        <h4>로그인 후 사용 가능합니다.</h4>
        <p>우측 로그인 영역에서 로그인 후<br>사용해 주세요.</p>
        <a class="close _click(LayerManager|CloseLayer|LoginLayer) _stopDefault" href="#"><img height="19" width="19" alt="닫기" src="https://ssl.pstatic.net/static/kin/09renewal/btn_close_layer3.gif"></a>
      </div>
      <div class="category">
        <ul>
          <li th:each="category,iterStat : ${categories}" th:id="'category_' + ${category.id}" th:class="${iterStat.index == 0}? 'firstchild select'">
            <div>
              <button aria-expanded="false">열기</button>
              <a href="#" th:text="${category.name}"></a>
            </div>
          </li>
        </ul>
        <div class="btn_allview">
          <a href="#" class="_click(CategoryCafe|ShowTotalView|1) _stopDefault N=a:cnt_thm.dirmore,t:1" title="디렉토리 전체보기">전체보기</a>
        </div>
      </div>

      <div class="category_list">
        <div class="tit_area">
          <h3>게임</h3>
          <a href="#" class="moreview _click(CategoryCafe|MoreView|13) _stopDefault">더보기</a>
          <em>167,638</em>
        </div>
        <div class="list_order">
          <h4 class="blind">대표 카페</h4>
          <ul class="bg_tab_categorylist" role="tablist">
            <li class="t1  _PC" role="tab" aria-selected="false"><a href="#">대표 카페</a></li>
            <li class="t2  _AT" role="tab" aria-selected="false"><a href="#">랭킹 Top 100</a></li>
            <li class="t3 on _AR" role="tab" aria-selected="true"><a href="#">급상승 Top 100</a></li>
            <li class="t4 _AC" role="tab" aria-selected="false"><a href="#">전체</a></li>
          </ul>
          <ul class="sorting">
            <li class="t1"><a href="#" class="_3 _click(CategoryCafe|SelectSortType|3) _stopDefault N=a:cnt_thm.bymember,t:1">멤버</a></li>
            <li class="t2"><a href="#" class="_4 _click(CategoryCafe|SelectSortType|4) _stopDefault N=a:cnt_thm.byarticle,t:1">게시글</a></li>
            <li class="t4"><a href="#" class="_1 on _click(CategoryCafe|SelectSortType|1) _stopDefault N=a:cnt_thm.byrankup,t:1">상승폭</a></li>
          </ul>
        </div>
        <div id="category-cafe">
          <ul id="ListArea" class="list ranking2"  style="display:block;">
            <li v-for="cafe in cafes" class="fc">
              <div class="thmb_cafe_ty1 cafe_thumb_32">
                <a v-bind:href="'/cafes/' + cafe.url" target="_blank">
                  <img src="https://cafeptthumb-phinf.pstatic.net/20150415_25/clever1982_1429073203647Pv5sK_JPEG/dmain12.JPG?type=f40_40_mask" width="32" height="32" v-bind:alt="cafe.description">
                  <span class="border"></span>
                </a>
              </div>
              <h5><a class="ellipsis" v-bind:href="'/cafes/' + cafe.url" target="_blank" v-bind:title="cafe.description" style="width:315px">{{ cafe.name }}</a>
                <i class="icon_best">대표카페</i>
              </h5>
              <p class="ellipsis" v-bind:title="cafe.description" style="width:345px">{{ cafe.description }}</p>
              <dl class="option">
                <dt class="blind">랭킹</dt>
                <dd class="level"><span>숲</span> (<span class="up">증가</span><em>271,822</em>)</dd>
                <dt class="manager">매니저</dt>
                <dd class="manager"><span class="gray05 ellipsis">디매인</span></dd>
                <dt class="since">since</dt>
                <dd class="since">{{ moment(cafe.createdAt).format('YYYY.MM.DD.') }}</dd>
              </dl>
              <dl class="count">
                <dt class="member">멤버수</dt>
                <dd class="member">{{ cafe.statistics.cafeMemberCount }}</dd>
                <dt class="board">게시글</dt>
                <dd class="board">{{ cafe.statistics.cafeArticleCount }}</dd>
                <dt class="new">New</dt>
                <dd class="new">13,331</dd>
              </dl>
            </li>


            <li >
              <div class="thmb_cafe_ty1 cafe_thumb_32">
                <a href="http://cafe.naver.com/cosmania" target="_blank">
                  <img src="https://cafeptthumb-phinf.pstatic.net/MjAxNzAxMTFfMjM0/MDAxNDg0MTE2MTYyNDY0.ulDRHftOBpr0aAa5UXSV85FupgUwjmrWgzXpScNu0-wg.JXX0r915XexjprC8TIj36lOredGlyrB1KkQfgWp6VXYg.JPEG.2005sori/%C1%A6%B8%F1-%BE%F8%C0%BD-3.jpg?type=f40_40_mask" width="32" height="32" alt="카페 파우더룸 [ 화장품.뷰티.쇼핑.일상 ]" onerror="this.onerror=null;this.src='https://ssl.pstatic.net/static/cafe/thumb/cafe_thumb_noimg_32.png';" >
                  <span class="border"></span>
                </a>
              </div>
              <h5><a class="ellipsis N=a:cnt_thm.cafe" href="http://cafe.naver.com/cosmania" target="_blank" title="카페 파우더룸 [ 화장품.뷰티.쇼핑.일상 ]" style="width:315px">카페 파우더룸 [ 화장품.뷰티.쇼핑.일상 ]</a>
                <i class="icon_best">대표카페</i>


              </h5>
              <p class="ellipsis" title="대한민국 No.1 뷰티 커뮤니티. 파우더룸입니다. 화장품뷰티톡.벼룩.세일.일상 등 아름다운공감이 있는곳." style="width:345px">대한민국 No.1 뷰티 커뮤니티. 파우더룸입니다. 화장품뷰티톡.벼룩.세일.일상 등 아름다운공감이 있는곳.&nbsp;</p>

              <dl class="option">

                <dt class="blind">랭킹</dt>
                <dd class="level"><span>숲</span> (<span class="up">증가</span><em>208,746</em>)</dd>

                <dt class="manager">매니저</dt>
                <dd class="manager"><span class="gray05 ellipsis">리봉 매니저</span></dd>
                <dt class="since">since</dt>
                <dd class="since">2003.12.10.</dd>
              </dl>
              <dl class="count">
                <dt class="member">멤버수</dt>
                <dd class="member">1,841,188</dd>
                <dt class="board">게시글</dt>
                <dd class="board">6,444,587</dd>
                <dt class="new">New</dt>
                <dd class="new">10,439</dd>
              </dl>
            </li>
            <li >
              <div class="thmb_cafe_ty1 cafe_thumb_32">
                <a href="http://cafe.naver.com/lovehayden" target="_blank">
                  <img src="https://cafeptthumb-phinf.pstatic.net/20131212_51/0_1386837489051_w3q2lS_jpg/%BB%F5.jpg?type=f40_40_mask" width="32" height="32" alt="♪  H a y d e n  ♪" onerror="this.onerror=null;this.src='https://ssl.pstatic.net/static/cafe/thumb/cafe_thumb_noimg_32.png';" >
                  <span class="border"></span>
                </a>
              </div>
              <h5><a class="ellipsis N=a:cnt_thm.cafe" href="http://cafe.naver.com/lovehayden" target="_blank" title="♪  H a y d e n  ♪" style="width:315px">♪  H a y d e n  ♪</a>
              </h5>
              <p class="ellipsis" title="소중한 우리아이를 위한 특별한 스타일링 !" style="width:345px">소중한 우리아이를 위한 특별한 스타일링 !&nbsp;</p>
              <dl class="option">
                <dt class="blind">랭킹</dt>
                <dd class="level"><span>숲</span> (<span class="up">증가</span><em>60,242</em>)</dd>
                <dt class="manager">매니저</dt>
                <dd class="manager"><span class="gray05 ellipsis">씩씩현석맘</span></dd>
                <dt class="since">since</dt>
                <dd class="since">2011.04.28.</dd>
              </dl>
              <dl class="count">
                <dt class="member">멤버수</dt>
                <dd class="member">59,049</dd>
                <dt class="board">게시글</dt>
                <dd class="board">517,714</dd>
                <dt class="new">New</dt>
                <dd class="new">1,220</dd>
              </dl>
            </li>
          </ul>
          <div id="PageArea" class="more_view" style="display:block;">
            <a href="#" class="btn_view N=a:cnt_thm.morecafe,t:1 _click(CategoryCafe|ListMore) _stopDefault">카페리스트 더보기</a>
            <a href="#" class="btn_up _click(CategoryCafe|FocusTop) _stopDefault N=a:cnt_thm.top">위로</a>
          </div>
          <form id="CategoryFormArea" name="frmSearchBottom" method="get" action="/CafeSearch.nhn" style="display:block;" class="_submit(CategoryCafe|CafeSearchDirectory|directoryQuery) N=a:cnt_thm.search">
            <fieldset class="cafe_search">
              <legend class="blind">카페검색</legend>
              <label for="directoryQuery">'게임'내 카페검색</label>
              <input type="text" title="검색" name="query" id="directoryQuery" value="" accesskey="s" class="snb_search_text">
              <input type="hidden" name="themeDir1Ids" id="themeDir1Ids" value="13">
              <input src="https://cafe.pstatic.net/img/section/btn_search2.gif" alt="검색" type="image">
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <div th:replace="fragments/section_aside :: aside"></div>
  </div>

  <div id="footer" role="contentinfo">
    <ul>
      <li class="first"><a href="/CafeTerms.nhn" target="_blank" class="N=a:fot.agreement">카페 이용약관</a></li>
      <li><a href="/CafeOperatingRules.nhn" target="_blank" class="N=a:fot.rule">카페 운영원칙</a></li>
      <li><a href="http://www.naver.com/rules/privacy.html" target="_blank" class="N=a:fot.privacy"><strong>개인정보처리방침</strong></a></li>
      <li><a href="http://www.naver.com/rules/disclaimer.html" target="_blank" class="N=a:fot.discalimer">책임의 한계와 법적고지</a></li>
      <li><a href="https://inoti.naver.com" target="_blank" class="N=a:fot.claim">게시중단요청서비스</a></li>
      <li><a href="https://help.naver.com/support/service/main.nhn?serviceNo=522" target="_blank" class="N=a:fot.help">카페 고객센터</a></li>
    </ul>
    <address>
      <a href="http://www.navercorp.com/" target="_blank" class="logo"><img src="https://ssl.pstatic.net/static/common/footer/ci_naver.gif" width="63" height="11" alt="NAVER Corp."></a>
      <em>Copyright &copy;</em>
      <a href="http://www.navercorp.com/" target="_blank">NAVER Corp.</a>
      <span>All Rights Reserved.</span>
    </address>
  </div>
</div>
</body>
<script src="/js/vue/section.js"></script>
</html>