<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>로컬 카페</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/Layout.css" type="text/css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <!-- angularjs -->
    <script src="/webjars/angularjs/angular.js"></script>
    <script src="/webjars/angularjs/angular-resource.js"></script>
    <script src="/webjars/angularjs/angular-route.js"></script>
    <script src="/js/ng/sectionController.js"></script>
    <!-- // angularjs -->
</head>

<body ng-app="sectionApp">
<div id="wrap">

    <div th:replace="fragments/section_header :: header"></div>

    <div id="container" class="main" role="main">
        <!-- spot -->
        <div class="spot" id="cafestoryArea" ng-controller="storyCtrl">
            <h2><img src="http://cafeimgs.naver.net/img/section/h_cafestory.gif" width="117" height="24" alt="cafe story"/></h2>
            <div class="date_control">
                <span ng-repeat="n in dateList track by $index" ng-class="dateStyle(n)" ng-bind="n"></span>
                <button class="btn_prev" ng-click="prev()">이전</button>
                <button ng-class="nextDateStyle()" ng-disabled="isLastDay()" ng-click="next()">다음</button>
            </div>
            <div class="_CafeStoryContent" id="cafeStory">
                <div class="type1" style="background:url(http://cafefiles.naver.net/MjAxNzAyMTVfNTQg/MDAxNDg3MTQxMDM2Nzgy.PCNj1DAQY4ilgDRbyaOV1T4xRUxg0H28pzlUjI06bmsg.PhtDIgNegGTvkuvj-ObEivOK4W_HuXFDLs1iRJF0NGMg.JPEG.cafesupport/default.jpg) no-repeat">
                    <div class="thumb"><a href="http://cafe.naver.com/korjapif" target="_blank" class="N=a:cvr.image">문화와 함께 언어도 교류해요!</a></div>
                    <div class="cont">
                        <h3><a href="http://cafe.naver.com/korjapif" target="_blank" class="N=a:cvr.title" >문화와 함께 언어도 교류해요!</a></h3>
                        <div class="option">
                            <dl>
                                <dt class="member">회원</dt>
                                <dd class="member">12,400</dd>
                                <dt class="writing">게시글</dt>
                                <dd class="writing">18,867</dd>
                                <dt class="manager">매니저</dt>
                                <dd class="manager">Evan Kang</dd>
                                <dt class="since">since</dt>
                                <dd class="since">2012.04.12.</dd>
                            </dl>
                        </div>

                        <ul>
                            <li><a href="http://cafe.naver.com/korjapif/menu/30" target="_blank" class="N=a:cvr.article,r:1">한일문화 日韓文化</a></li>
                            <li><a href="http://cafe.naver.com/korjapif/menu/13" target="_blank" class="N=a:cvr.article,r:2">친구만들기 友達作る</a></li>
                            <li><a href="http://cafe.naver.com/korjapif/menu/37" target="_blank" class="N=a:cvr.article,r:3">함께해요일본어 日語</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="cafenew">
                <div class="navi">
                    <a href="#" class="n1  N=a:cfn.num,r:1 _mouseover(CafeStory|SelectCafeNew|0) _stopDefault">1</a>
                    <a href="#" class="n2 on N=a:cfn.num,r:2 _mouseover(CafeStory|SelectCafeNew|1) _stopDefault">2</a>
                </div>
                <div class="cafenew_cont" id="sectionNews"><a href="http://cafe.naver.com/cafesupport/107252" class="N=a:cfn.list2,r:2"><img src="http://cafefiles.naver.net/20160715_5/0_1468540939505_scoz2U_png/지원센터-공지변경_3.png" width="255" height="225" alt="정모장소지원-뉴버전"/></a></div>
            </div>
        </div>
        <!-- //spot -->

        <div id="content" ng-controller="contentCtrl">
            <ul class="tab_cafe">
                <li class="t1 on" ng-click="changeContent(1)"><a href="#"><span>주제별 카페</span><em>7,994,822</em></a></li>
                <li class="t2" ng-click="changeContent(2)"><a href="#"><span>지역별 카페</span><em>2,478,763</em></a></li>
                <li class="t3" ng-click="changeContent(3)"><a href="#"><span>가입카페 새글 소식</span></a></li>
            </ul>
            <div ng-include="templateUrl()"></div>
        </div>

        <div th:replace="fragments/section_aside :: aside"></div>
    </div>

    <div id="footer" role="contentinfo"></div>
</div>
</body>
</html>