<!DOCTYPE html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="https://nid.naver.com/login/css/global/desktop/w_20161104.css?dt=20161214"/>
    <link rel="stylesheet" type="text/css" href="https://nid.naver.com/login/css/global/desktop/e_20161104.css?dt=20161214"/>
</head>
<body class="chrome">
<div id="wrap">
    <div id="header">
        <h1><a href="/" class="sp h_logo" tabindex="1">NAVER</a></h1>
    </div>
    <div id="container">
        <div id="content">
            <form name='f' th:action="@{/login}" method='post'>
                <fieldset class="login_form">
                    <legend class="blind">로그인</legend>
                    <div class="input_row" id="id_area">
						<span class="input_box">
							<label for="username" class="lbl">아이디</label>
							<input type="text" id="username" name="username" tabindex="7" accesskey="L" placeholder="아이디" class="int" maxlength="41" autofocus="autofocus"/>
						</span>
                    </div>
                    <div class="input_row" id="pw_area">
						<span class="input_box">
							<label for="password" class="lbl">비밀번호</label>
							<input type="password" id="password" name="password" tabindex="8" placeholder="비밀번호" class="int" maxlength="16" />
						</span>
                    </div>
                    <div th:if="${param.error}" class="alert alert-error">
                        아이디 혹은 비밀번호가 잘못되었습니다.
                    </div>
                    <input type="submit" title="로그인" alt="로그인" tabindex="12" value="로그인" class="btn_global"/>
                    <div class="check_info" >
                        <div class="login_check">
							<span class="login_check_box">
								<input type="checkbox" id="login_chk" name="nvlong" class="" tabindex="9"  value="off"/>
								<label for="login_chk" id="label_login_chk" class="sp">로그인 상태 유지</label>
							</span>
                            <div class="ly_v2" id="persist_usage" style="display:none;">
                                <div class="ly_box">
                                    <p>개인정보 보호를 위해 <strong>개인 PC에서만 사용하세요.</strong>&nbsp;&nbsp;<a href="https://help.naver.com/support/contents/contents.nhn?serviceNo=532&amp;categoryNo=1523" target="_blank" class="sp btn_check_help">도움말보기</a></p>
                                </div>
                                <span class="sp ly_point"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <sec:csrfInput />
            </form>
        </div>
    </div>
</div>
</body>
</html>


